footer {
    padding-top: 50px;
    background-color: $gray;
    padding-bottom: 50px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            font-family: $font-family-text;
            text-decoration: none;
            color: white;
            font-size: 22px;
            font-weight: 400;
            margin-top: 10px;
        }

        hr {
            margin-top: 30px;
            border-color: $main-color;
            width: 100%;
        }
    }

    a.button-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        background-color: $white;
        border: none;
        border-radius: 15px;
        width: 40px;
        height: 40px;
    }

    .subfooter {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        margin-bottom: 5px;

        p {
            font-family: $font-family-text;
            text-decoration: none;
            color: white;
            font-size: 16px;
            font-weight: 400;
        }
    }

    p {
        font-family: $font-family-text;
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
    }
}

//:::::::::::::::::: Small Laptop :::::::::::::::::://

@media only screen and (max-width: $breakpoint-xl) {
    footer {
        margin-top: 100px;

        p {
            font-family: $font-family-text;
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
}

//----------------- Mobile -----------------//

@media only screen and (max-width: $breakpoint-xs) {
    footer {
        margin-top: 60px;

        p {
            font-family: $font-family-text;
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
}
