div.bg-header {
    background-attachment:fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/header-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    .header-vector {
        width: 100vw;
    }
}

header {
    width: 1000px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    img {
        width: 300px;
        border-radius: 50%;
    }

    h1 {
        font-family: $font-family-header;
        font-weight: 900;
        font-size: 100px;
        text-transform: uppercase;
        color: white;
        margin-top: 30px;
        text-shadow: 1px 1px 6px black;
    }

    h2 {
        font-family: $font-family-header;
        font-weight: 400;
        font-size: 48px;
        text-transform: uppercase;
        color: white;
        margin-top: 30px;
        text-shadow: 1px 1px 6px black;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
        border-color: $main-color;
        width: 100%;
    }

    a {
        font-family: $font-family-text;
        text-decoration: none;
        color: white;
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 30px;
        text-shadow: 1px 1px 6px black;
    }

    a:after {
        display: block;
        content: "";
        height: 2px;
        background: $main-color;
        width: 0px;
        transition: 0.4s;
    }
    
    a:hover:after {
        width: 100%;
    }

}

//:::::::::::::::::: Tablet :::::::::::::::::://

@media only screen and (max-width: $breakpoint-md) {

    div.bg-header {
        background-attachment: scroll;
        height: 820px;
    }

    header {
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    

        img {
            width: 250px;    
        }

        h1 {
            font-size: 60px;
        }

        hr {    
            width: 80%;
        }

        a {
            font-size: 22px;
        }
    }
}  

//:::::::::::::::::: Mobile :::::::::::::::::://

@media only screen and (max-width: $breakpoint-xs) {

    div.bg-header {
        height: 780px;
    }

    header {
        width: 320px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    

        img {
            width: 250px;    
        }

        h1 {
            font-size: 40px;
        }

        hr {    
            width: 80%;
        }

        a {
            font-size: 22px;
        }
    }
}   
