.privacy {

    background-color: $bg-color;
    
    h2 {
        font-family: $font-family-header;
        font-weight: 400;
        font-size: 48px;
        text-transform: uppercase;
        color: white;
        margin-top: 30px;
        margin-bottom: 30px;
    }   

    h3 {
        font-family: $font-family-header;
        font-weight: 400;
        font-size: 25px;
        text-transform: uppercase;
        color: white;
        margin-top: 30px;
    }

    p {
        color: white;
    }

    a.button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: $white;
        border: none;
        border-radius: 15px;
        width: 200px;
        height: 40px;

        font-family: $font-family-text;
        font-weight: 400;
        font-size: 25px;
        color: $main-color;
        margin-top: 30px;
        text-decoration: none;

    }
}