.privacy {

    background-color: $bg-color;
    
    h2 {
        font-family: $font-family-header;
        font-weight: 400;
        font-size: 48px;
        text-transform: uppercase;
        color: white;
        margin-top: 30px;
    }   
}