@media screen and (max-width: 1420px) {
    
    .container {
        max-width: 1400px;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    h1 {
        font-size: 30px;
        line-height: 39px;
        text-align: center;
        margin-top: 80px;
    }

    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 16px;
    }
    
    h5 {
        font-size: 14px;
        margin-bottom: 15px;
    }

    img {
        width: 320px;
        height: auto;
        margin-top: 30px;
    }

    .line {
        margin-bottom: 60px;
    }

    p.header-title {
        margin-top: 50px;
        font-size: 150px;
    }


    //::::::: Menu ::::::://

    nav {

        .language {
            display: flex;
            justify-content: center;
        }

        .nav_box {
            display: flex;
            justify-content:center;
            column-gap: 30px;

            a {
                font-size: 18px;
            }
        }
    }


    //::::::: Header ::::::://

    header {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }


    //::::::: What I do ::::::://

    .what-i-do {
        display: flex;
        flex-wrap: wrap;
        margin-top: 45px;
        margin-bottom: 300px;

        .what-i-do_text {

            .what-i-do_subtitles {
                display: flex;
                flex-wrap: wrap;
                margin-top: 30px;
                grid-gap: 30px;

                .what-i-do_p {
                    width: 220px;
                }
            }
        }
    }


    //::::::: My Work ::::::://

    .my-work {

        .my-work_box{
            display: flex;
            flex-wrap: wrap;
        
            .my-work_text {
        
                .my-work_sub-info {
                    margin-top: 15px;
                    font-size: 20px;
                }
        
                a {
                    margin-top: 30px;
                    font-size: 16px;
                }
            }
        }
    }


    //::::::: Contact ::::::://

    .contact{
        margin-top: 45px;
        margin-bottom: 70px;

        .contact_text {
            display: flex;
            flex-wrap: wrap;

            .contact_subtitles {
                display: flex;
                align-items: center;
                margin-right: 25px;
                margin-top: 25px;

                img {
                    margin-top: 0px;
                }

                .contact_icon {
                    width: 22px;
                    height: auto;
                    border-radius: 0px;
                }

                a.contact_a {
                    font-size: 18px;
                    text-decoration: none;
                    color: $secondary;
                    margin-left: 10px;
                }
            }
        }
    }


    //::::::: Footer ::::::://

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .footer_text {
            margin-top: -40px;

            p {
                font-size: 14px;
            }

            .footer_privacy {
                margin-top: 20px;

                a {
                    font-size: 14px;
                }
            }
        }
        
        .footer_back-to-top-bt {
            margin-top: 20px;

            .back-to-top-bt {

                .footer_img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    //::::::: About Me Page ::::::://

    .about-me {
        display: flex;
        flex-direction: column;
        margin-top: 0px;

        .about-me-text {
            width: 90%;

            h1 {
                text-align: left;
                margin-bottom: 20px;
            }
        }

        img {
            width: 320px;
            height: auto;
        }
    }
}


//////////////::::::: Mobile Only ::::::://////////////

@media screen and (max-width: 768px) {
    .what-i-do_p {
        width: auto !important;
    }
}
