// Breakpoints //
$breakpoint-xs: 500px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Colors //
$main-color: #25B1DA;
$white: #EDEDED;
$gray: #2E2E2E;
$bg-color: #fff;

// Fonts //
$font-family-header: 'Expletus Sans', cursive;
$font-family-text: 'Montserrat', sans-serif;