// Breakpoints //

$breakpoint-xs: 500px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Colors //

$color_1: rgb(255, 174, 0);
$color_2: white;
$bg-color: rgb(31, 31, 31);