* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #26282B;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 58px;
  line-height: 90px;
  font-weight: 600;
  color: #FFF;
}

h2 {
  font-size: 50px;
  line-height: 150%;
  font-weight: 600;
  color: #FFF;
}

h3 {
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  color: #FFF;
}

h4 {
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  color: #FFF;
}

h5 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #FFF;
}

img {
  width: 600px;
  height: 360px;
  border-radius: 15px;
}

.line {
  width: 100%;
  margin-top: 50px;
}

.blue-exclamation-mark {
  color: #5F85DB;
}

.blue-h1 {
  color: #5F85DB;
}

p.header-title {
  font-size: 316px;
  font-weight: 900;
}

nav .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-top: 20px;
}

nav .language a {
  margin-top: 20px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
}

nav .nav_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

nav .nav_box .back-to-home {
  margin-top: 40px;
}

nav .nav_box a {
  margin-top: 20px;
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
}

header {
  margin-top: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 180px;
}

.what-i-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 400px;
}

.what-i-do .what-i-do_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.what-i-do .what-i-do_text .what-i-do_subtitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.what-i-do .what-i-do_text .what-i-do_subtitles .what-i-do_p {
  width: 220px;
  margin-right: 70px;
}

.my-work {
  margin-bottom: 00px;
}

.my-work .my-work_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 220px;
}

.my-work .my-work_box .my-work_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.my-work .my-work_box .my-work_text .my-work_sub-info {
  margin-top: 10px;
  font-size: 30px;
  line-height: 150%;
  font-weight: 500;
}

.my-work .my-work_box .my-work_text a {
  margin-top: 40px;
  -webkit-text-decoration: underline #5F85DB 2px;
          text-decoration: underline #5F85DB 2px;
  color: #FFF;
  font-size: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 220px;
}

.contact .contact_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .contact_text .contact_subtitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 75px;
  margin-top: 100px;
}

.contact .contact_text .contact_subtitles .contact_icon {
  width: 35px;
  height: auto;
  border-radius: 0px;
}

.contact .contact_text .contact_subtitles a.contact_a {
  font-size: 25px;
  text-decoration: none;
  color: #FFF;
  margin-left: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

footer .footer_text {
  margin-top: 0px;
}

footer .footer_text .footer_privacy {
  margin-top: 20px;
}

footer .footer_text .footer_privacy a {
  font-size: 15px;
  -webkit-text-decoration: underline #5F85DB 2px;
          text-decoration: underline #5F85DB 2px;
  color: #FFF;
  margin-right: 25px;
}

footer .footer_back-to-top-bt .back-to-top-bt .footer_img {
  width: 60px;
  height: 60px;
}

.about-me-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me-button a {
  font-size: 18px;
  padding: 16px 22px;
  background-color: #5F85DB;
  color: #FFF;
  border-radius: 15px;
  text-decoration: none;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
}

.about-me .about-me-text {
  width: 700px;
}

.about-me .about-me-text h3 {
  margin-top: 40px;
}

.about-me .about-me-text div.about-me-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.about-me .about-me-text div.about-me-links a {
  margin-top: 5px;
  color: white;
  -webkit-text-decoration: underline #5F85DB;
          text-decoration: underline #5F85DB;
}

.about-me img {
  width: 520px;
  height: auto;
}

@media screen and (max-width: 1420px) {
  .container {
    max-width: 1400px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  h1 {
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    margin-top: 80px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  img {
    width: 320px;
    height: auto;
    margin-top: 30px;
  }
  .line {
    margin-bottom: 60px;
  }
  p.header-title {
    margin-top: 50px;
    font-size: 150px;
  }
  nav .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  nav .nav_box a {
    font-size: 18px;
  }
  header {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px;
  }
  .what-i-do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 300px;
  }
  .what-i-do .what-i-do_text .what-i-do_subtitles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
    grid-gap: 30px;
  }
  .what-i-do .what-i-do_text .what-i-do_subtitles .what-i-do_p {
    width: 220px;
  }
  .my-work .my-work_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .my-work .my-work_box .my-work_text .my-work_sub-info {
    margin-top: 15px;
    font-size: 20px;
  }
  .my-work .my-work_box .my-work_text a {
    margin-top: 30px;
    font-size: 16px;
  }
  .contact {
    margin-top: 45px;
    margin-bottom: 70px;
  }
  .contact .contact_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contact_text .contact_subtitles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 25px;
    margin-top: 25px;
  }
  .contact .contact_text .contact_subtitles img {
    margin-top: 0px;
  }
  .contact .contact_text .contact_subtitles .contact_icon {
    width: 22px;
    height: auto;
    border-radius: 0px;
  }
  .contact .contact_text .contact_subtitles a.contact_a {
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer_text {
    margin-top: -40px;
  }
  footer .footer_text p {
    font-size: 14px;
  }
  footer .footer_text .footer_privacy {
    margin-top: 20px;
  }
  footer .footer_text .footer_privacy a {
    font-size: 14px;
  }
  footer .footer_back-to-top-bt {
    margin-top: 20px;
  }
  footer .footer_back-to-top-bt .back-to-top-bt .footer_img {
    width: 50px;
    height: 50px;
  }
  .about-me-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-me-button a {
    font-size: 16px;
    padding: 14px 20px;
    background-color: #5F85DB;
    color: #FFF;
    border-radius: 15px;
    text-decoration: none;
  }
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .about-me .about-me-text {
    width: 90%;
  }
  .about-me .about-me-text h1 {
    text-align: left;
    margin-bottom: 20px;
  }
  .about-me img {
    width: 320px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .what-i-do_p {
    width: auto !important;
  }
}
/*# sourceMappingURL=style.css.map */