// Imports //

@import '_variables';
@import '_header';
@import '_footer';

// CSS //

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: museo-sans, sans-serif;
    background-color: $bg-color;
    animation: theme 120s linear infinite;
    
    &:after,
    &:before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw;  // IE/Edge//
        height: 100vh; // fallback//
        width: 100vmax;
        height: 100vmax;
        background: rgba(0,0,0,0.1);
        animation: background 200s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

@keyframes theme {
    0% {
        background: $bg-color;
    }

    100% {
        background: $bg-color;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 200;
    font-size: 100px;
    color: $color_2;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 40px;
    color: black;
    text-align: center;
}

h3 {
    font-weight: 300;
    font-size: 35px;
    color: black;
}

p {
    font-size: 25px;
    font-weight: 200;
    color: $color_2;
    text-align: center;
    letter-spacing: 1.5px;
}

a {
    position: relative;
    text-decoration: none;
    color: $color_2;
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
    letter-spacing: 1.5px;
}
  
a.link_hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color_1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: $color_1;
}
a.link_hover:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background: $color_1;
}

.index-h2-spacing {
    padding-top: 70px;
}

.portfolio {
    margin-top: 150px;
    background-color: white;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 90px;
    }

    .portfolio-block {
        width: 900px;
        display: flex;
        justify-content: space-between;

        .portfolio-box {
            border: 2px solid $color_1;
            width: 400px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 70px;
    
            img {
                margin-top: 20px;
                height: 85px;
            }

            .link {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
              }
        }
    }
    .portfolio-contact {
        color: black;
        font-weight: 400;
        margin-top: 10px;
    }
}

// Impressum //

.impressum {

    width: 800px;

    h2 {
        color: $color_2;
        margin-top: 80px;
        margin-bottom: 60px;
    }

    a {
        margin-top: 20px;
    }

    .copyright {
        font-size: 18px;
        margin-top: 20px;
    }
}

// Mobile //

@media only screen and (max-width: $breakpoint-md) {

    h1 {
        font-size: 65px;
    }

    h2 {
        font-size: 32px;
    }

    .portfolio {
        margin-top: 100px;    
    
        h2 {
            margin-bottom: 70px;
        }
    
        .portfolio-block {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            .portfolio-box {
                border: 2px solid $color_1;
                width: 400px;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 70px;
        
                img {
                    margin-top: 20px;
                    height: 85px;
                }
    
                .link {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                  }
            }
        }
        .portfolio-contact {
            color: black;
            font-weight: 400;
            margin-top: 10px;
        }
    }

    .impressum {

        width: 90%;
    
        h2 {
            color: $color_2;
            margin-top: 80px;
            margin-bottom: 60px;
        }
    
        a {
            margin-top: 20px;
        }
    
        .copyright {
            font-size: 18px;
            margin-top: 20px;
        }
    }
}