div.bg-header {
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url(../img/header-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.bg-header .header-vector {
  width: 100vw;
}

header {
  width: 1000px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 300px;
  border-radius: 50%;
}

header h1 {
  font-family: "Expletus Sans", cursive;
  font-weight: 900;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
  text-shadow: 1px 1px 6px black;
}

header h2 {
  font-family: "Expletus Sans", cursive;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
  text-shadow: 1px 1px 6px black;
}

header hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: #25B1DA;
  width: 100%;
}

header a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 30px;
  text-shadow: 1px 1px 6px black;
}

header a:after {
  display: block;
  content: "";
  height: 2px;
  background: #25B1DA;
  width: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header a:hover:after {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  div.bg-header {
    background-attachment: scroll;
    height: 820px;
  }
  header {
    width: 100%;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header img {
    width: 250px;
  }
  header h1 {
    font-size: 60px;
  }
  header hr {
    width: 80%;
  }
  header a {
    font-size: 22px;
  }
}

@media only screen and (max-width: 500px) {
  div.bg-header {
    height: 780px;
  }
  header {
    width: 320px;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header img {
    width: 250px;
  }
  header h1 {
    font-size: 40px;
  }
  header hr {
    width: 80%;
  }
  header a {
    font-size: 22px;
  }
}

footer {
  margin-top: 120px;
  background-color: #2E2E2E;
  padding-bottom: 30px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
}

footer div hr {
  margin-top: 30px;
  border-color: #25B1DA;
  width: 100%;
}

footer a.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  background-color: #EDEDED;
  border: none;
  border-radius: 15px;
  width: 40px;
  height: 40px;
}

footer .subfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 5px;
}

footer .subfooter p {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

footer p {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  footer {
    margin-top: 100px;
  }
  footer p {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  footer {
    margin-top: 60px;
  }
  footer p {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }
}

main {
  background-color: #EDEDED;
  padding-top: 120px;
  padding-bottom: 120px;
}

main h2 {
  font-family: "Expletus Sans", cursive;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  color: #2E2E2E;
  text-align: center;
}

main div.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}

main div.about p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  width: 470px;
}

main div.about img {
  width: 470px;
}

.privacy {
  background-color: #2E2E2E;
}

.privacy h2 {
  font-family: "Expletus Sans", cursive;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.privacy h3 {
  font-family: "Expletus Sans", cursive;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
}

.privacy p {
  color: white;
}

.privacy a.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #EDEDED;
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #25B1DA;
  margin-top: 30px;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2E2E2E;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

h4 {
  font-family: "Expletus Sans", cursive;
  font-weight: 400;
  font-size: 40px;
  color: #25B1DA;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.hover-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .about-me_img {
  width: 500px !important;
  margin-top: 0px;
}

.about div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.about div div a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #25B1DA;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 5px;
}

img.vector {
  width: 100vw;
}

img.vector-bottom {
  width: 100vw;
  margin-bottom: -6px;
}

div.quote {
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/quote-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/quote-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quote div {
  width: 100vw;
}

div.quote h3 {
  font-family: "Expletus Sans", cursive;
  font-weight: 400;
  font-size: 60px;
  color: white;
  text-shadow: 1px 1px 6px black;
}

div.quote em {
  font-style: normal;
  color: #25B1DA;
}

.container-work {
  width: 1100px;
  margin: 0 auto;
}

.container-work .my-work-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.container-work .my-work-box {
  position: relative;
  width: 500px;
  height: 300px;
  border: 2px solid #25B1DA;
  border-radius: 15px;
}

.container-work .my-work-box img {
  display: block;
  width: 100%;
}

.container-work .my-work-box a {
  text-decoration: none;
}

.container-work .my-work-box .image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.container-work .my-work-box .image_overlay img {
  margin-bottom: 30px;
  margin-top: 30px;
}

.container-work .my-work-box .image_overlay > * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.container-work .my-work-box .image_overlay:hover {
  opacity: 1;
}

.container-work .my-work-box .image_overlay:hover > * {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media only screen and (max-width: 1200px) {
  .container-work {
    width: 100%;
    margin: 0 auto;
  }
  .container-work h2 {
    font-size: 32px;
  }
  .container-work .my-work-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
  }
  .container-work .my-work-box {
    margin-top: 30px;
    position: relative;
    width: 400px;
    height: 240px;
    border: 2px solid #25B1DA;
    border-radius: 15px;
  }
  .container-work .my-work-box img {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .container h2 {
    font-size: 32px;
  }
  h4 {
    font-family: "Expletus Sans", cursive;
    font-weight: 400;
    font-size: 22px;
    color: #25B1DA;
  }
  .hover-p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
  }
  img.vector {
    width: 100% !important;
    margin-bottom: -4px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .p-box {
    width: 500px;
  }
  .about .about-me_img {
    width: 500px !important;
    margin-top: 20px;
  }
  div.quote {
    height: 500px;
  }
  div.quote h3 {
    font-family: "Expletus Sans", cursive;
    font-weight: 400;
    font-size: 40px;
    color: white;
    text-align: center;
  }
  div.quote em {
    font-style: normal;
    color: #25B1DA;
  }
  .container-work {
    width: 100%;
    margin: 0 auto;
  }
  .container-work h2 {
    font-size: 32px;
  }
  .container-work .my-work-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0px;
  }
  .container-work .my-work-box {
    margin-top: 30px;
    position: relative;
    width: 300px;
    height: 180px;
    border: 2px solid #25B1DA;
    border-radius: 15px;
  }
  .container-work .my-work-box img {
    display: block;
    width: 100%;
  }
  .container-work .my-work-box a {
    text-decoration: none;
  }
  .container-work .my-work-box .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #EDEDED;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .container-work .my-work-box .image_overlay img {
    width: 120px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .container-work .my-work-box .image_overlay .myg-logo-size {
    width: 50px;
  }
  .container-work .my-work-box .image_overlay > * {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .container-work .my-work-box .image_overlay:hover {
    opacity: 1;
  }
  .container-work .my-work-box .image_overlay:hover > * {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .container h2 {
    font-size: 32px;
  }
  h4 {
    font-family: "Expletus Sans", cursive;
    font-weight: 400;
    font-size: 22px;
    color: #25B1DA;
  }
  .hover-p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
  }
  img.vector {
    width: 100vw;
  }
  img.vector-bottom {
    width: 100vw;
    margin-bottom: -4px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .p-box {
    width: 300px;
  }
  .about .about-me_img {
    width: 300px !important;
    margin-top: 20px;
  }
  div.quote {
    background-attachment: scroll;
    height: 400px;
  }
  div.quote h3 {
    font-family: "Expletus Sans", cursive;
    font-weight: 400;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  div.quote em {
    font-style: normal;
    color: #25B1DA;
  }
  .container-work {
    width: 320px;
    margin: 0 auto;
  }
  .container-work h2 {
    font-size: 32px;
  }
  .container-work .my-work-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0px;
  }
  .container-work .my-work-box {
    margin-top: 30px;
    position: relative;
    width: 300px;
    height: 180px;
    border: 2px solid #25B1DA;
    border-radius: 15px;
  }
  .container-work .my-work-box img {
    display: block;
    width: 100%;
  }
  .container-work .my-work-box a {
    text-decoration: none;
  }
  .container-work .my-work-box .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #EDEDED;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .container-work .my-work-box .image_overlay img {
    width: 120px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .container-work .my-work-box .image_overlay > * {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .container-work .my-work-box .image_overlay:hover {
    opacity: 1;
  }
  .container-work .my-work-box .image_overlay:hover > * {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */