@import "./variables";


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: $primary;
    font-family: 'Montserrat', sans-serif;  
}

.container {
    width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 58px;
    line-height: 90px;
    font-weight: 600;
    color: $secondary;
}

h2 {
    font-size: 50px;
    line-height: 150%;
    font-weight: 600;
    color: $secondary;
}

h3 {
    font-size: 30px;
    line-height: 150%;
    font-weight: 600;
    color: $secondary;
}

h4 {
    font-size: 30px;
    line-height: 150%;
    font-weight: 600;
    color: $secondary;
}

h5 {
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    color: $secondary;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: $secondary;
}

img {
    width: 600px;
    height: 360px;
    border-radius: 15px;
}

.line {
    width: 100%;
    margin-top: 50px;
}

.blue-exclamation-mark {
    color: $tertiary;
}

.blue-h1 {
    color: $tertiary;
}

p.header-title {
    font-size: 316px;
    font-weight: 900;
}


//::::::: Menu ::::::://

nav {

    .language {
        display: flex;
        justify-content:end;
        column-gap: 10px;
        margin-top: 20px;

        a {
            margin-top: 20px;
            color: $secondary;
            font-size: 16px;
            text-decoration: none;
        }
    }

    .nav_box {
        display: flex;
        justify-content:end;
        column-gap: 40px;

        .back-to-home {
            margin-top: 40px;
        }

        a {
            margin-top: 20px;
            color: $secondary;
            font-size: 20px;
            text-decoration: none;
        }
    }
}


//::::::: Header ::::::://

header {
    margin-top: 185px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 180px;
}


//::::::: What I do ::::::://

.what-i-do {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    margin-bottom: 400px;

    .what-i-do_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .what-i-do_subtitles {
            display: flex;
            margin-top: 50px;

            .what-i-do_p {
                width: 220px;
                margin-right: 70px;
            }
        }
    }
}


//::::::: My Work ::::::://

.my-work {
    margin-bottom: 00px;

    .my-work_box{
        display: flex;
        justify-content: space-between;
        margin-top: 130px;
        margin-bottom: 220px;
    
        .my-work_text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            .my-work_sub-info {
                margin-top: 10px;
                font-size: 30px;
                line-height: 150%;
                font-weight: 500;
            }
    
            a {
                margin-top: 40px;
                text-decoration: underline $tertiary 2px;
                color: $secondary;
                font-size: 20px;
            }
        }
    }
}


//::::::: Contact ::::::://

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 130px;
    margin-bottom: 220px;

    .contact_text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .contact_subtitles {
            display: flex;
            align-items: center;
            margin-right: 75px;
            margin-top: 100px;

            .contact_icon {
                width: 35px;
                height: auto;
                border-radius: 0px;
            }

            a.contact_a {
                font-size: 25px;
                text-decoration: none;
                color: $secondary;
                margin-left: 10px;
            }
        }
    }
}


//::::::: Footer ::::::://

footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    .footer_text {
        margin-top: 0px;

        .footer_privacy {
            margin-top: 20px;

            a {
                font-size: 15px;
                text-decoration: underline $tertiary 2px;
                color: $secondary;
                margin-right: 25px;
            }
        }
    }
    
    .footer_back-to-top-bt {

        .back-to-top-bt {

            .footer_img {
                width: 60px;
                height: 60px;
            }
        }
    }
}


//::::::: About Me Page ::::::://

.about-me-button {
    display: flex;
    justify-content: center;

    a {
        font-size: 18px;
        padding: 16px 22px;
        background-color: $tertiary;
        color: $secondary;
        border-radius: 15px;
        text-decoration: none;
    }
}



.about-me {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 80px;

    .about-me-text {
        width: 700px;


        h3 {
            margin-top: 40px;;
        }

        div.about-me-links {
            display: flex;
            column-gap: 20px;

            a {
                margin-top: 5px;
                color: white;
                text-decoration: underline $tertiary;
            }
        }

       
    }

    img {
        width: 520px;
        height: auto;
    }
}


@import "./responsiv";