@import "./variables";
@import "./header";
@import "./footer";
@import "./main-part";
@import "./privacy";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

h4 {
    font-family: $font-family-header;
    font-weight: 400;
    font-size: 40px;
    color: $main-color;
}

p {
    font-family: $font-family-text;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.hover-p {
    font-family: $font-family-text;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  a.button {
    text-decoration: none;
    margin-top: 20px;
    width: 125px;
    height: 45px;
    cursor: pointer;
    border: 1px solid $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(315deg, $main-color 0%, #0d324d 100%);
    background-size: 400% 400%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 500ms;
    box-shadow: 5px px 50px inset #085a72;
  }

  p.button {
    text-align: center;
    color: white;
  }
  
  a:hover {
      background-position: right;
  }
  
  a:hover:before {
      color: rgba(255,255,255,0.8);
  }
  
  a:focus {
      outline: none;
  }

//----------------- About -----------------//

.about {
    display: flex;
    flex-direction: row;

    .about-me_img {
        width: 500px !important;
        margin-top: 0px;
    }

    div {

        div {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        
            a {
                font-family: $font-family-text;
                text-decoration: none;
                color: $main-color;
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 5px;
            }
        }
    }
}

//----------------- Image Vector -----------------//

img.vector {
    width: 100vw;
}

img.vector-bottom {
    width: 100vw;
    margin-bottom: -6px;
}

//----------------- Quote -----------------//

div.quote {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/quote-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div {
        width: 100vw;
    }

    h3 {
        font-family: $font-family-header;
        font-weight: 400;
        font-size: 60px;
        color: white;
        text-shadow: 1px 1px 6px black;
    }

    em {
        font-style: normal;
        color: $main-color;
    }
}

//----------------- My Work -----------------//

.container-work {
    width: 1100px;
    margin: 0 auto;

    .my-work-line {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }

    .my-work-box {
        position: relative;
        width: 500px;
        height: 300px;
        border: 2px solid #25B1DA;
        border-radius: 15px;

        img {
            display: block;
            width: 100%;
        }

        a {
            text-decoration: none;
        }

        .image_overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background-color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s;

            img {
                margin-bottom: 30px;
                margin-top: 30px;
            }
        }

        .image_overlay > * {
            transform: translateY(20px);
            transition: transform 0.3s;
        }

        .image_overlay:hover {
            opacity: 1;
        }

        .image_overlay:hover > * {
            transform: translateY(0px);
        }
    }
}

//:::::::::::::::::: Small Laptop :::::::::::::::::://

@media only screen and (max-width: $breakpoint-xl) {

    //----------------- My Work -----------------//

    .container-work {
        width: 100%;
        margin: 0 auto;

        
        h2 {
            font-size: 32px;
        }

        .my-work-line {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 60px;
        }

        .my-work-box {
            margin-top: 30px;
            position: relative;
            width: 400px;
            height: 240px;
            border: 2px solid #25B1DA;
            border-radius: 15px;

            img {
                display: block;
                width: 100%;
            }
        }
    }

}

//:::::::::::::::::: Tablet :::::::::::::::::://

@media only screen and (max-width: $breakpoint-md) {

    .container {
        width: 100% ;

        h2 {
            font-size: 32px;
        }
    }

    h4 {
        font-family: $font-family-header;
        font-weight: 400;
        font-size: 22px;
        color: $main-color;
    }
    
    .hover-p {
        font-family: $font-family-text;
        font-weight: 400;
        font-size: 16px;
        color: black;
    }
    
    //----------------- Image Vector -----------------//

    img.vector {
        width: 100% !important;
        margin-bottom: -4px;
    }

    //----------------- About -----------------//

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;

        .p-box {
            width: 500px;
        }
        
        .about-me_img {
            width: 500px !important;
            margin-top: 20px;
        }
    }

    //----------------- Quote -----------------//

    div.quote {
        height: 500px;

        h3 {
            font-family: $font-family-header;
            font-weight: 400;
            font-size: 40px;
            color: white;
            text-align: center;
        }

        em {
            font-style: normal;
            color: $main-color;
        }
    }

    //----------------- My Work -----------------//

    .container-work {
        width: 100%;
        margin: 0 auto;

        
        h2 {
            font-size: 32px;
        }

        .my-work-line {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 0px;
        }

        .my-work-box {
            margin-top: 30px;
            position: relative;
            width: 300px;
            height: 180px;
            border: 2px solid #25B1DA;
            border-radius: 15px;

            img {
                display: block;
                width: 100%;
            }

            a {
                text-decoration: none;
            }

            .image_overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                background-color: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.3s;

                img {
                    width: 120px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }   

                .myg-logo-size {
                    width: 50px;
                }
            }

            .image_overlay > * {
                transform: translateY(20px);
                transition: transform 0.3s;
            }

            .image_overlay:hover {
                opacity: 1;
            }

            .image_overlay:hover > * {
                transform: translateY(0px);
            }
        }
    }

}


//:::::::::::::::::: Mobile :::::::::::::::::://

@media only screen and (max-width: $breakpoint-xs) {

    .container {
        width: 320px;
        margin: 0 auto; 

        h2 {
            font-size: 32px;
        }
    }

    h4 {
        font-family: $font-family-header;
        font-weight: 400;
        font-size: 22px;
        color: $main-color;
    }
    
    .hover-p {
        font-family: $font-family-text;
        font-weight: 400;
        font-size: 16px;
        color: black;
    }
    
    //----------------- Image Vector -----------------//

    img.vector {
        width: 100vw;
    }

    img.vector-bottom {
        width: 100vw;
        margin-bottom: -4px;
    }

    //----------------- About -----------------//

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;

        .p-box {
            width: 300px;
        }
        
        .about-me_img {
            width: 300px !important;
            margin-top: 20px;
        }
    }

    //----------------- Quote -----------------//

    div.quote {
        background-attachment: scroll;
        height: 400px;

        h3 {
            font-family: $font-family-header;
            font-weight: 400;
            font-size: 30px;
            color: white;
            text-align: center;
        }

        em {
            font-style: normal;
            color: $main-color;
        }
    }

    //----------------- My Work -----------------//

    .container-work {
        width: 320px;
        margin: 0 auto;

        
        h2 {
            font-size: 32px;
        }

        .my-work-line {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 0px;
        }

        .my-work-box {
            margin-top: 30px;
            position: relative;
            width: 300px;
            height: 180px;
            border: 2px solid #25B1DA;
            border-radius: 15px;

            img {
                display: block;
                width: 100%;
            }

            a {
                text-decoration: none;
            }

            .image_overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                background-color: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.3s;

                img {
                    width: 120px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
            }

            .image_overlay > * {
                transform: translateY(20px);
                transition: transform 0.3s;
            }

            .image_overlay:hover {
                opacity: 1;
            }

            .image_overlay:hover > * {
                transform: translateY(0px);
            }
        }
    }

}