footer {
    display: flex;
    flex-direction: column;

    .green-box {
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cope.jpg);
        height: 100px;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        h3 {
            margin-top: 20px;
        }
    }

    .footer-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .contact-box {
            display: flex;
            flex-direction: row;

            .contact {

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    width: 320px;

                    img {
                        height: 100%;
                        margin-right: 10px;
                    }

                    a {
                        text-decoration: none;
                    }

                    a:after {
                        display: block;
                        content: "";
                        height: 2px;
                        background: $primarycolor;
                        width: 0px;
                        transition: 0.4s;
                        margin-top: -18px;
                    }
                    
                    a:hover:after {
                        width: 100%;
                    }
                }
            }
        }
        .logo {
            img {
                width: 400px;
            }
        }
    }
    .privacy {
        display: flex;
        flex-direction: row;
        justify-content: center;

        a {
            text-decoration: none;
        }

        a:after {
            display: block;
            content: "";
            height: 2px;
            background: $primarycolor;
            width: 0px;
            transition: 0.4s;
            margin-top: -18px;
        }
        
        a:hover:after {
            width: 100%;
        }

        .footer-margin-right {
            margin-right: 10px;
        }
        .footer-margin-left {
            margin-left: 10px;
        }
    }

    p.copyright {
        font-size: 13px;
        text-align: center;
    }
}

@media only screen and (max-width: $breakpoint-xl) {
     footer {
        .footer-text {
            display: flex;
            flex-direction: column;
            align-items: center;

            .contact-box {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
            }
            .logo {
                img {
                    margin-top: 20px;
                    width: 300px;
                }
            }
        }
     }
}

@media only screen and (max-width: $breakpoint-md) {
    footer {
        .green-box {
            h6 {
                font-size: 24px;
                text-align: center;
            }
        }
    
        .footer-text {
            display: flex;
            flex-direction: column;

            .contact-box {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
            }
            .logo {
                img {
                    margin-top: 20px;
                    width: 200px;
                }
            }
        }
     }
}

@media only screen and (max-width: $breakpoint-xs) {
    footer {
        .green-box {
            background-color: $primarycolor;
            height: 100px;
            width: 100vw;
            margin-top: 125px;
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            h3 {
                font-size: 16px;
            }
        }
    
        .footer-text {
            display: flex;
            flex-direction: column;

            .contact-box {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
            }
            .logo {
                img {
                    width: 200px;
                }
            }
        }
        
     }
}
