.navbar {
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.navbar_background_color {
    background-color: $white;
}

a:hover {
    text-decoration: none;
    color: $secondarycolor;
}

.lineborder_flags {
    border-left: 2px solid $primarycolor;
}


.navbar_text {
    color: $secondarycolor;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-decoration: none;

}

.navbar_text:after {
    display: block;
    content: "";
    height: 2px;
    background: $primarycolor;
    width: 0px;
    transition: 0.4s;
}

.navbar_text:hover:after {
    width: 100%;

}

.navbar-toggler {
    border-color: $primarycolor !important;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63, 165, 53, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}