// color //

$primarycolor: #3FA535;
$secondarycolor: #191919;
$tertiarycolor: #4A4A49;

$white: white;
$black: black;

// ----- //

// breakpoints //

$breakpoint-xs: 500px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// ----------- //