header {
  margin-top: 65px;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img.header-logo {
  width: 600px;
  margin-top: 40px;
  margin-bottom: 25px;
}

header p {
  text-align: center;
  width: 550px;
}

@media only screen and (max-width: 576px) {
  header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header img.header-logo {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 25px;
  }
  header p {
    text-align: center;
    width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header img.header-logo {
    width: 320px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  header p {
    text-align: center;
    width: 320px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .green-box {
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/cope.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cope.jpg);
  height: 100px;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .green-box h3 {
  margin-top: 20px;
}

footer .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-text .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-text .contact-box .contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 340px;
}

footer .footer-text .contact-box .contact div img {
  height: 100%;
  margin-right: 10px;
}

footer .footer-text .contact-box .contact div a {
  text-decoration: none;
}

footer .footer-text .contact-box .contact div a:after {
  display: block;
  content: "";
  height: 2px;
  background: #3FA535;
  width: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: -18px;
}

footer .footer-text .contact-box .contact div a:hover:after {
  width: 100%;
}

footer .footer-text .logo img {
  width: 400px;
}

footer .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .privacy a {
  text-decoration: none;
}

footer .privacy a:after {
  display: block;
  content: "";
  height: 2px;
  background: #3FA535;
  width: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: -18px;
}

footer .privacy a:hover:after {
  width: 100%;
}

footer .privacy .footer-margin-right {
  margin-right: 10px;
}

footer .privacy .footer-margin-left {
  margin-left: 10px;
}

footer p.copyright {
  font-size: 13px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  footer .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-text .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 20px;
  }
  footer .footer-text .logo img {
    margin-top: 20px;
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  footer .green-box h6 {
    font-size: 24px;
    text-align: center;
  }
  footer .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-text .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  footer .footer-text .logo img {
    margin-top: 20px;
    width: 200px;
  }
}

@media only screen and (max-width: 500px) {
  footer .green-box {
    background-color: #3FA535;
    height: 100px;
    width: 100vw;
    margin-top: 125px;
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .green-box h3 {
    font-size: 16px;
  }
  footer .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-text .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  footer .footer-text .logo img {
    width: 200px;
  }
}

.navbar {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.navbar_background_color {
  background-color: white;
}

a:hover {
  text-decoration: none;
  color: #191919;
}

.lineborder_flags {
  border-left: 2px solid #3FA535;
}

.navbar_text {
  color: #191919;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.navbar_text:after {
  display: block;
  content: "";
  height: 2px;
  background: #3FA535;
  width: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar_text:hover:after {
  width: 100%;
}

.navbar-toggler {
  border-color: #3FA535 !important;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63, 165, 53, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

* {
  margin: 0px;
  padding: 0px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: rubrik-new, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  margin-top: 150px;
  font-size: 70px;
  color: #191919;
  text-align: center;
}

h2 {
  font-size: 40px;
  color: #4A4A49;
  font-weight: 600;
  margin-bottom: 25px;
}

h3 {
  font-size: 60px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 5px black;
}

h4 {
  font-size: 22px;
  color: #3FA535;
  text-align: center;
  margin-top: 25px;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  color: #191919;
}

h6 {
  font-size: 40px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 5px black;
}

p {
  font-size: 18px;
  color: #191919;
  font-weight: 300;
}

.green-box {
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/cope.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cope.jpg);
  height: 200px;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green-box h3 {
  margin-top: 10px;
}

.box-system {
  padding: 0px;
}

.box-system .box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box-system .box-1 div.small-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-system .box-1 div.small-box-1 p {
  margin-right: 50px;
}

.box-system .box-1 div.small-box-2 {
  width: 600px;
}

.box-system .box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box-system .box-2 div.small-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-system .box-2 div.small-box-2 {
  width: 600px;
  margin-right: 50px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 320px;
}

.contacts div a {
  text-decoration: none;
}

.contacts div a:after {
  display: block;
  content: "";
  height: 2px;
  background: #3FA535;
  width: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: -18px;
}

.contacts div a:hover:after {
  width: 100%;
}

.contacts .adress {
  margin: 25px;
  width: 100%;
}

iframe {
  margin-bottom: -132px;
}

@media only screen and (max-width: 1200px) {
  .experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-1 div.small-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-1 div.small-box-1 p {
    margin-right: 0px !important;
    width: 600px;
  }
  .box-1 div.small-box-1 h2 {
    margin-top: 100px;
  }
  .box-1 div.small-box-2 {
    width: 600px;
  }
  .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-2 div.small-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-2 div.small-box-1 p {
    width: 600px;
  }
  .box-2 div.small-box-1 h2 {
    margin-top: 100px;
  }
  .box-2 div.small-box-2 {
    width: 600px;
    margin-right: 0px !important;
  }
  .box-2 div.small-box-2 img {
    width: 580px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    margin-top: 100px;
    font-size: 50px;
    color: #191919;
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 540px;
  }
  .box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-1 div.small-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-1 div.small-box-1 p {
    margin-right: 0px !important;
    width: 450px;
  }
  .box-1 div.small-box-1 h2 {
    margin-top: 100px;
  }
  .box-1 div.small-box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-1 div.small-box-2 img {
    width: 450px;
  }
  .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-2 div.small-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-2 div.small-box-1 p {
    width: 450px;
  }
  .box-2 div.small-box-1 h2 {
    margin-top: 100px;
  }
  .box-2 div.small-box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px !important;
  }
  .box-2 div.small-box-2 img {
    width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 320px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 35px;
  }
  p {
    font-size: 16px;
  }
  .green-box {
    margin-top: 60px;
    margin-bottom: 40px;
    height: 140px;
  }
  .box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-1 div.small-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-1 div.small-box-1 p {
    margin-right: 0px !important;
    width: 320px;
  }
  .box-1 div.small-box-1 h2 {
    margin-top: 100px;
  }
  .box-1 div.small-box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-1 div.small-box-2 img {
    width: 320px;
  }
  .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-2 div.small-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-2 div.small-box-1 p {
    width: 320px;
  }
  .box-2 div.small-box-1 h2 {
    margin-top: 100px;
  }
  .box-2 div.small-box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px !important;
  }
  .box-2 div.small-box-2 img {
    width: 320px;
  }
}
/*# sourceMappingURL=style.css.map */