// imported files //

@import "./variables";
@import "./header";
@import "./footer";
@import "./navbar";

// -------------- //

// CSS Classes //
* {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: rubrik-new, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

// Text //
h1 {
    margin-top: 150px;
    font-size: 70px;
    color: $secondarycolor;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: $tertiarycolor;
    font-weight: 600;
    margin-bottom: 25px;
}

h3 {
    font-size: 60px;
    color: $white;
    font-weight: 700;
    text-shadow: 1px 1px 5px black;
}

h4 {
    font-size: 22px;
    color: $primarycolor;
    text-align: center;
    margin-top: 25px;
    font-weight: 400;
}

h5 {
    font-size: 22px;
    color: $secondarycolor;
}

h6 {
    font-size: 40px;
    color: $white;
    font-weight: 700;
    text-shadow: 1px 1px 5px black;
}

p {
    font-size: 18px;
    color: $secondarycolor;
    font-weight: 300;
}

// Experience //
.green-box {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cope.jpg);
    height: 200px;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        margin-top: 10px;
    }
}

// BOX-System //
.box-system {
    padding: 0px;

    .box-1{
        display: flex;
        flex-direction: row;

        div.small-box-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin-right: 50px;
            }

        }
        div.small-box-2 {
            width: 600px;
        }
    }

    .box-2{
        display: flex;
        flex-direction: row;

        div.small-box-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
        div.small-box-2 {
            width: 600px;
            margin-right: 50px;
        }
    }
}

// Contact //
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        width: 320px;

        a {
            text-decoration: none;
        }

        a:after {
            display: block;
            content: "";
            height: 2px;
            background: $primarycolor;
            width: 0px;
            transition: 0.4s;
            margin-top: -18px;
        }
        
        a:hover:after {
            width: 100%;
        }
    }
    .adress {
        margin: 25px;
        width: 100%;
    }
}
iframe {
    margin-bottom: -132px;
}

// Laptop -Size //
@media only screen and (max-width: $breakpoint-xl) {
    .experience {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .box-1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        div.small-box-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin-right: 0px!important;
                width: 600px;
            }

            h2 {
                margin-top: 100px;
            }
        }

        div.small-box-2 {
            width: 600px;
        }
    }

    .box-2{
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        justify-content: center;

        div.small-box-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                width: 600px;
            }

            h2 {
                margin-top: 100px;
            }
            
        }
        div.small-box-2 {
            width: 600px;
            margin-right: 0px!important;
        }
    }
  
}

// Tablet -Size //
@media only screen and (max-width: $breakpoint-lg) {

}

@media only screen and (max-width: $breakpoint-md) {
    h1 {
        margin-top: 100px;
        font-size: 50px;
        color: $secondarycolor;
        text-align: center;
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    .container {
        width: 540px;
    }

    .box-1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        div.small-box-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin-right: 0px!important;
                width: 450px;
            }

            h2 {
                margin-top: 100px;
            }
        }
        div.small-box-2 {
            display: flex;
            justify-content: center;
            img {
                width: 450px;
            }
        }
    }

    .box-2{
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        justify-content: center;

        div.small-box-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                width: 450px;
            }

            h2 {
                margin-top: 100px;
            }
            
        }
        div.small-box-2 {
            display: flex;
            justify-content: center;
            margin-right: 0px!important;
            img {
                width: 450px;
            }
        }
    }
}

// Phone -Size //
@media only screen and (max-width: $breakpoint-xs) {
    .container {
        width: 320px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 35px;
    }

    p {
        font-size: 16px;
    }

    .green-box {
        margin-top: 60px;
        margin-bottom: 40px;
        height: 140px;
    }

    .box-1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        div.small-box-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin-right: 0px!important;
                width: 320px;
            }

            h2 {
                margin-top: 100px;
            }
        }
        div.small-box-2 {
            display: flex;
            justify-content: center;
            img {
                width: 320px;
            }
        }
    }

    .box-2{
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        justify-content: center;

        div.small-box-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                width: 320px;
            }

            h2 {
                margin-top: 100px;
            }
            
        }
        div.small-box-2 {
            display: flex;
            justify-content: center;
            margin-right: 0px!important;
            img {
                width: 320px;
            }
        }
    }
}

// ----------- //