main {
    background-color: $white;
    padding-top: 120px;
    padding-bottom: 120px;

    h2 {
        font-family: $font-family-header;
        font-weight: 400;
        font-size: 48px;
        text-transform: uppercase;
        color: $gray;
        text-align: center;
    }

    div.about {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            width: 470px;
        }
    
        img {
            width: 470px;
        }
    }

    
}